<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap">
    <link rel="stylesheet" href="styles/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/slick.css" />
    <link rel="stylesheet" href="styles/tooplate-little-fashion.css">
    <title>Little Fashion</title>
</head>

<body>
    <!-- <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section> -->

    <main>

        <%- include('partials/header') %>
            <header class="site-header section-padding d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12">
                            <h1>
                                <span class="d-block text-primary">Buy your</span>
                                <span class="d-block text-dark">favorite stuffs</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <section class="products section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5">Welcome To Your Cart!</h2>
                            <%if(cartData.length>0){%>
                                <div class="btn empty-cart">
                                    <a href="/cart/emptyCart">
                                        <button
                                            class="btn d-flex align-items-center justify-content-center empty-cart-btn mt-4 mb-3">
                                            Empty Cart &ensp; <i class="bi bi-trash fs-4"></i>
                                        </button>
                                    </a>
                                </div>
                                <%}%>
                        </div>
                        <% if (cartData.length <=0) { %>
                            <div class="d-flex">
                                <p class="fw-bold text-dark fs-1">Cart is Empty!</p>
                                <a href="/products" class="fs-1 ms-4">
                                    <i class="bi bi-bag-plus"></i>
                                </a>
                            </div>
                            <% } else { %>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="ps-5">Product Image</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Total</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cartData.forEach((cartItem)=> { %>
                                                <tr>
                                                    <td class="ps-4" style="width: 30%;">
                                                        <a href="/productDetails/<%= cartItem.product.id %>">
                                                            <img src="<%= cartItem.product.img %>" alt="product_image" width="80%" height="30%">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/productDetails/<%= cartItem.product.id %>">
                                                            <p>
                                                                <h5 class="mt-5">
                                                                    <%= cartItem.product.name %>
                                                                </h5>
                                                            </p>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <h5 class="mt-5">
                                                            <a href="/cart/decreaseQuantity/<%= cartItem.product.id %>"
                                                                class="bi bi-dash-circle"
                                                                style="color: rgb(64, 179, 250);"></a>&ensp; <%=
                                                                cartItem.quantity %>&ensp;
                                                                <a href="/cart/increaseQuantity/<%= cartItem.product.id %>"
                                                                    class="bi bi-plus-circle" style="color:green;"></a>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="mt-5">
                                                            $<%= cartItem.product.price %>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="mt-5">
                                                            $<%= cartItem.product.price * cartItem.quantity %>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="mt-5 ms-3">
                                                            <a href="/cart/removeFromCart/<%= cartItem.product.id %>"
                                                                class="bi bi-x-circle" style="color: red;"></a>
                                                        </h5>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <tr>
                                                        <td colspan="4" style="padding-left: 100px">
                                                            <h5>Total</h5>
                                                        </td>
                                                        <td colspan="2">
                                                            <h5>
                                                                $<%=totalPrice%>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                        </tbody>
                                    </table>
                                    <% } %>
                                </div>
                    </div>
                </div>
            </section>
            <%if(cartData.length> 0){%>
                <div class="container mb-5">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <a href="/checkout">
                                <button class="btn checkout-btn mb-5">
                                    Checkout
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            <%}%>

    </main>
    <%- include('partials/footer') %>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/Headroom.js"></script>
        <script src="js/jQuery.headroom.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/custom.js"></script>
</body>

</html>